<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout :: head" ></head>
<body>
    <div th:replace="fagmnents/layout :: menu"></div>
    <h1 th:text="Za+${value} +${curenrency} + dostaniesz +  $(calculationEstymate)+ ${curenrency1}" />
</body>
</html>