<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Przelicznik walut </title>
</head>
<body>
    <div>
        <form ACTION="/calculator" method="post">
            Waluta wymieniana:<br>
            <select name="currency" >
                <option th:each="rate : ${rates}" th:name="${rate.getName()}" th:value="${rate.getName()}"  th:text="${rate.getName()}"></option>
            </select>
            <br>
            Ilość posiadanej waluty:<br>
            <input type="number" name="value"><br>
            Waluta docelowa:<br>
            <select name="currency1" >
                <option th:each="rate : ${rates}" th:name="${rate.getName()}" th:value="${rate.getName()}"  th:text="${rate.getName()}"></option>
            </select><br>
            Wartość wyminy:<br>
            <input type="submit" name="Submint" >
        </form>
    </div>

</body>
</html>