<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div>
        <h1>Conatact</h1>
        <p>Pfone number: 09q209r0942309</p>
        <p th:text="${state}"> </p>
        <p th:text="${date}"> </p>
    </div>
</body>
</html>