<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kursy walut</title>
</head>
<body>
<table>
    <tr th:each="rate : ${rates}">
        <td th:text="${rate.getName()}"></td>
        <td th:text="${rate.getRate()}"></td>
    </tr>
</table>
</body>
</html>